html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    font-family: 'Poppins', sans-serif;
    color: #444b5c;
    background-color: rgb(248, 248, 248);
}

h1 {
    padding: 20px;
    display: table;
    margin: 0 auto;
}

ul {
    display: table;
    margin: 0 auto;
    list-style:none;
    padding-right: 35px;
    height: 400px;
    width: 70%;
    text-align: left;
}

li {
    border: solid 1px rgb(223, 223, 223);
    margin: 40px 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(154,160,195,0.05), 0 15px 40px rgba(166,173,201,0.2);
    border-radius: 5px;
    height: 400px;
}

li > h3{
    margin-left: 20px;
    margin-bottom: 0px;
}

.chart-container {
    height: 330px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    display: table;
    margin: 0 auto;
    font-size: 1em;
    font-weight: 700;
    color: #ffffff;
    background-image: linear-gradient(rgb(102, 174, 219), rgb(77, 146, 189));
    display: inline-block;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-image: none;
    background-color: rgba(30,134,198,1);
}

.chart {
    padding: 20px 0;
}

#input-container {
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 20px;
    width: 30%;
    height: 100px;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    border: solid 1px rgb(223, 223, 223);
    box-shadow: 0 5px 10px rgba(154,160,195,0.05), 0 15px 40px rgba(166,173,201,0.2);
    text-align: center;
}

#input-container > input {
    display: table;
    margin: 0 auto;
}

#chart-container {
    display: none;
}

  