{% extends "layout.html" %}
{% block title %}Analys{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/papaparse.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/chartjs-plugin-colorschemes.min.js') }}"></script> 
{% endblock %}
{% block content %}
<div id="input-container">
    <p>Välj utdelningsfil att analysera. Utdelningshistorik finns att ladda ner på Avanzas hemsida (<a href="/instruktioner">instruktioner</a>). Filen används endast lokalt och laddas därmed INTE upp på någon server.</p>
    <input type="file" id="myfile" name="myfile" class="inputfile"> 
    <label for="myfile"> Välj  Fil </label>
</div>
<div id="panel-container">
    <ul>
        <li>
            <div class="panel-content">
                <h4>Insamlade utdelningar</h4>
                <span id="total-divs" class="panel-number blue"></span>
            </div>
        </li>
        <li>
            <div class="panel-content">
                <h4>Utdelningstillväxt i år</h4>
                <span id="div-growth" class="panel-number red"></span><small>jfr. föregående år</small>
            </div>
        </li>
        <li>
            <div class="panel-content">
                <h4>Snitt per månad i år</h4>
                <span id="div-average-month" class="panel-number blue"></span>
            </div>
        </li>
    </ul>
</div>
<div id="chart-container">
    <ul>
        <li>
            <div class="chart-content">
                <h4>Utdelning per år</h4>
                <div class="chart-box">
                    <canvas class="chart" id="yearly-divs" width="200" height="350"></canvas>
                </div>
            </div>
        </li>
        <li>
            <div class="chart-content">
                <h4>12 månader rullande utdelning</h4>
                <div class="chart-box">
                    <canvas class="chart" id="moving-avg-divs" width="200" height="350"></canvas>
                </div>
            </div>
        </li>
        <li>
            <div class="chart-content">
                <h4>Ackumulativ utdelning</h4>
                <div class="chart-box">
                    <canvas class="chart" id="accumulative" width="200" height="350px"></canvas>
                </div>
            </div>
        </li>
        <li>
            <div class="chart-content">
                <h4>Månadsvis utdelning per år</h4>
                <div class="chart-box">
                    <canvas class="chart" id="monthly-comparison" width="200" height="350px"></canvas>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}