{% extends "layout.html" %}
{% block title %}Instruktioner{% endblock %}
{% block content %}
<div class="text-box">
    <h1>Hur man laddar ner utdelningar</h1>
    <h3>Avanza</h3>
    Klicka på min ekonomi i vänstra kolumnen.
    <br>
    <img src="{{ url_for('static', filename='images/min_ekonomi.png') }}">
    <br>
    Gå till transaktionssidan.
    <br>
    <img src="{{ url_for('static', filename='images/transaktioner_button.png') }}">
    <br>
    Klicka på tidigare transaktioner.
    <br>
    <img src="{{ url_for('static', filename='images/tidigare_transaktioner.png') }}">
    <br>
    Filtrera efter utdelningar och bestäm tidsintervall.
    <br>
    <img src="{{ url_for('static', filename='images/filter.png') }}">
    <br>
    Exportera transaktionerna till excel.
    <br>
    <img src="{{ url_for('static', filename='images/export.png') }}">
    <br>
    När du har filen är det bara att välja den för analys på förstasidan. 
</div>
{% endblock %}