<!doctype html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} - Utdelningskollen</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/newstyles.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=icon href="{{ url_for('static', filename='images/favicon.ico') }}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172175469-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-172175469-1');
        </script>
        {% endblock %}
    </head>
    <body>
        <!--Content space-->
        <div id="content">
            <div class="topnav">
                <a href="/" class="active">Utdelningskollen</a>
                <div id="myLinks">
                    <a href="/instruktioner">Instruktioner</a>
                    <a href="/verktyg">Kalkylator</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="hamburger()" ontouchstart="hamburger()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div id="content-wrap">
                {% block content %}{% endblock %}
            </div>
            <div id="footer"><small>&copy; Copyright 2020, Utdelningskollen</small> </div>
        </div>
    </body>
</html>